doctype html
html
	head
		link(href="styles/main.css", rel="stylesheet")
		// bower:css
		// endbower
	body
		div.fullbleed
			p test
			p test 2
			p test 2
		// bower:js
		// endbower

		script(src="scripts/main.js")
