doctype html
html
	head
		// bower:css
		// endbower
		link(href="styles/main.css", rel="stylesheet")
	body
		div.fullbleed
			div.fluid-container
		// bower:js
		// endbower
		script(src="scripts/main.js")
